In [12]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('/Users/khelifanail/Documents/GitHub/Portfolio_clustering_project/Data/2021_01_04.csv')
df.head()
data = df[['ticker', 'close']].transpose()
data.columns = df['ticker'].to_list()

,SPY,IWM,EEM,TLT,USO,GLD,XLF,XLB,XLK,XLV,...,ZBH,ZEN,ZG,ZNH,ZTO,ZTR,ZTS,ZUO,ZVO,ZYME
ticker,SPY,IWM,EEM,TLT,USO,GLD,XLF,XLB,XLK,XLV,...,ZBH,ZEN,ZG,ZNH,ZTO,ZTR,ZTS,ZUO,ZVO,ZYME
close,368.79001,193.5,52.0,157.53999,32.38,182.33,29.08,71.7,127.9,112.95,...,153.16,138.99001,136.50999,29.99,28.05,8.79,163.59,13.55,4.61,48.97